/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/*
  Modular Scale: https://www.modularscale.com/?22&px&1.2
  Accent Color: #e0cd5c;
*/

/* Base Styles */

html {
  font-size: 22px;
  line-height: 28px;
  background-color: #333;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  color: #EEE;
  padding: 28px;
}

a {
  color: inherit;
  text-decoration: underline; /* This works for all browsers */
  text-decoration-color: #AAA; /* Additional intrinsic styles */
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
}

h1,
h2,
p,
ul,
nav {
  padding-bottom: 28px;
}

nav ul {
  padding-bottom: 0;
}

/* don't add padding to nested lists */
ul li:last-child ul:last-child {
  padding-bottom: 0;
}

h1 {
  font-size: 54.743px; /*scale: +5 */
  line-height: 56px; /* x1.5 */
}

h2 {
  font-size: 38.016px; /* scale: +3 */
  line-height: 42px; /* x1.5 */
  color: #e0cd5c;
}

h3 {
  font-weight: bold;
  font-size: 26.4px; /* scale +1 */
  line-height: 42px; /* x1.5 */
  padding-bottom: 3.5px;
  margin-bottom: 23.5px;
  border-bottom: solid;
  border-width: 1px;
  border-color: #e0cd5c;
}

h4 {
  font-weight: bold;
  padding: 14px 0;
}

figure {
  padding-bottom: 28px;
}

figcaption {
  padding: 14px;
  background-color: #222;
  font-size: 16.504px;
}

img {
  display: block;
  max-width: 100%;
}

/* Layout Styles */

/* Module Styles */

.work-exp-description li,
.project-description li,
.extracurricular-description li,
.course-skills li,
.useful-links li {
  margin-left: 28px;
  list-style: disc;
  line-height: 28px;
}

.work-exp-description li,
.project-description li,
.extracurricular-description li {
  padding-top: 14px;
  padding-bottom: 14px;
}

.work-exp-details li,
.project-details li,
.extracurricular-details li {
  font-size: 16.504px;
}

#site-header {
  text-align: center;
  background-color: #222;
  color: #e0cd5c;
  margin: -28px -28px 28px -28px;
  padding: 28px 28px 0 28px;
}

#site-nav a {
  text-decoration: none;
  display: block;
  line-height: 0;
  padding: 27px; /* scale 1x minus the border */
  border-style: solid;
  border-color: #e0cd5c;
  border-width: 1px;
}

#site-nav a:hover,
#site-nav a:active,
#site-nav a:focus {
  background-color: #333;
}

#site-footer {
  font-size: 16.504px;
}

#site-footer p {
  padding-bottom: 0;
}

#whoami figure {
  max-width: 500px;
  margin: auto;
}

#site-index {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  column-gap: 56px;
}

#site-index header {
  flex: 0 0 100%;
}

#site-index section {
  flex: 1 1 370px;
}

#classes main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  column-gap: 56px;
}

#classes main header {
  flex: 0 0 100%;
}

#classes main article {
  flex: 1 1 500px;
}

#resume-languages li,
#resume-technologies li {
  margin-left: 28px;
  list-style: disc;
  line-height: 27.5px;
}

/* State Styles */
@media screen and (min-width: 420px) {
  #site-nav ul {
    display: flex;
    justify-content: center;
  }

  #site-nav li {
    flex: 1 0 max-content;
    text-align: center;
    max-width: 130px;
  }
}

@media screen and (min-width: 650px) {
  #whoami {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 70px auto;
    grid-column-gap: 28px;
  }

  #whoami figure {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  #whoami h2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  #whoami p {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  @supports (display: grid) {
    #whoami figure {
      padding-bottom: 0;
    }

    #whoami {
      padding-bottom: 28px;
    }
  }
}

@media screen and (min-width: 910px) {
  #site-header {
    display: flex;
    justify-content: space-between;
  }

  #site-nav {
    margin-top: -28px;
  }

  #site-nav ul {
    gap: 14px;
  }

  #site-nav a {
    border-top: 0;
    padding-top: 28px;
  }

}

/* Theme Styles */

/** A quick baseline grid overlay using css+svg. Inspired by [Basehold.it](https://basehold.it/). @author leshido */
.g body {
  position: relative;
}

.g body::after {
  background: url('data:image/svg+xml;utf8,<svg height="28" width="1" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="0.5" style="fill:rgba(255, 0, 0, 0.3)" /></svg>') repeat top left;
  content: "";
  display: block;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  position: absolute;
}

.g body:active::after {
  display: none;
}
